---
import { getCollection } from "astro:content";
import Layout from "../../layouts/SideBarLayout.astro";
import CategoriesCard from "../../components/PostsLayout/CategoriesCard.astro";
import TagsCard from "../../components/PostsLayout/TagsCard.astro";
import BlogPost from "../../components/PostsLayout/BlogPostByYears.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection(
    "docs",
    (post) => post.data.draft == false
  );
  const paths = allPosts.map((post) => {
    const postLength = post.id.split("/").length;
    const postPath = post.id.split("/");
    postPath.pop();
    const collection = post.id.split("/")[postLength - 2];
    const postPathWithoutSelf = post.id
      .split("/")
      .slice(0, postLength - 1)
      .join("/");

    const postAtSameFolder = allPosts.filter(
      (post) =>
        post.id.startsWith(postPathWithoutSelf) &&
        (post.id.split("/").length = postLength)
    );
    return {
      params: { slug: postPath.join("/") || undefined },
      props: { posts: postAtSameFolder, collection: collection },
    };
  });
  return paths;
}

const { posts, collection } = Astro.props;
---

<Layout title={collection}>
  <BlogPost slot="article-content" posts={posts} />
  <section slot="sidebar-content" class="flex flex-col gap-4">
    <CategoriesCard posts={posts} />
    <TagsCard posts={posts} />
  </section>
</Layout>
