---
import Layout from "../layouts/PostLayout.astro";

import { getEntry } from "astro:content";

const page = await getEntry("blog", "about");

const { Content } = await page.render();
---

<Layout post={page}>
  <section>
    <Content />
  </section>
  <!-- <section slot="sidebar-content" class="flex flex-col gap-8">
    <MeCard />
  </section> -->
  <style></style>
</Layout>
