---
import { getCollection, getEntry } from "astro:content";

const allPosts = await getCollection("docs");

import Layout from "../layouts/HeadingLayout.astro";

const collection = [...new Set(allPosts.map((post) => post.id.split("/")[0]))];

import Card from "../components/Card.astro";
---

<Layout title="Collections">
  <div class="flex flex-col gap-2">
    <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-2">
      {
        collection.map((tag) => (
          <Card title={tag}>
            <a class=" border border-gray-500 rounded p-1 " href={`/${tag}`}>
              {tag}
            </a>
          </Card>
        ))
      }
    </div>
  </div>
</Layout>
