---
import { getEntry } from "astro:content";

import Layout from "../layouts/BaseLayout.astro";
import Posts from "../components/index/Posts.astro";
const page = await getEntry("blog", "aboutme");
const { Content } = await page.render();
import { Image } from "astro:assets";
import cover from "../assets/cover.jpg";

import { getCollection } from "astro:content";
const allPosts = await getCollection("docs");
const PostsStorted = allPosts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
const PopularPosts = PostsStorted.filter((post) => post.data.popular == true);
---

<Layout title="Wun-Hao's Blog">
  <div class="flex flex-col gap-10">
    <section
      class="prose-sm md:grid hero-warpper border-b border-gray-300 py-4"
    >
      <div>
        <Content />
      </div>
      <Image
        src={cover}
        alt="cover"
        class="hidden md:block rounded-full progress"
      />
    </section>
    <Posts posts={PostsStorted} title="Latest" path="/posts" />
    <Posts posts={PopularPosts} title="Featured" path="/featured" />
  </div>
</Layout>

<style>
  .hero-warpper {
    align-items: center;
    gap: 1.5rem;
    grid-template-columns: 3fr 1fr;
  }

  @keyframes go-left-right {
    from {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate(45deg);
    }
  }

  .progress {
    animation: go-left-right 4s infinite alternate;
  }
</style>
