---
import { getCollection } from "astro:content";

const allPosts = await getCollection("docs");
const PostsStorted = allPosts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);

import Layout from "../layouts/SideBarLayout.astro";
import CategoriesCard from "../components/CategoriesCard.astro";
import TagsCard from "../components/TagsCard.astro";

const allYears = [
  ...new Set(allPosts.map(({ data }) => data.pubDate.getFullYear())),
].sort((a, b) => b - a);
---

<Layout title="Writing">
  <section slot="article-content">
    {
      allYears.map((year) => {
        const yearpost = PostsStorted.filter(
          (post) => post.data.pubDate.getFullYear() == year
        );

        return (
          <section>
            <h3 class=" font-bold ">{year}</h3>
            {yearpost.map((onepost) => (
              <a
                class="flex justify-between content-center"
                href={`/${onepost.slug}`}
              >
                <text>{onepost.data.title}</text>
                <time class="hidden md:block">{`${
                  onepost.data.pubDate.getMonth() + 1
                } 月 ${onepost.data.pubDate.getDate()} 日`}</time>
              </a>
            ))}
          </section>
        );
      })
    }
  </section>
  <section slot="sidebar-content" class="flex flex-col gap-8">
    <CategoriesCard />
    <TagsCard />
  </section>
</Layout>
