---
import { getCollection } from "astro:content";

const allPosts = await getCollection(
  "docs",
  (post) => post.data.draft == false
);

import Layout from "../layouts/SideBarLayout.astro";
import CategoriesCard from "../components/CategoriesCard.astro";
import TagsCard from "../components/TagsCard.astro";
import BlogPost from "../components/BlogPostByYears.astro";
---

<Layout title="Writing">
  <BlogPost slot="article-content" posts={allPosts} />
  <section slot="sidebar-content" class="flex flex-col gap-4">
    <CategoriesCard posts={allPosts} />
    <TagsCard posts={allPosts} />
  </section>
</Layout>
