---
import {  getEntry } from "astro:content";

const page = await getEntry("docs", "blog/resume");
import Layout from "../layouts/BaseLayout.astro";

const { Content } = await page.render();
import Prose from "../components/Prose.astro";

---

<Layout title="Resume">
  <section>
    <Prose>

    <Content />

    </Prose>
  </section>

</Layout>
