---
import { getCollection, getEntryBySlug } from "astro:content";

const page = await getEntryBySlug("blog", "resume");
import Layout from "../layouts/SideBarLayout.astro";
import MeCard from "../components/MeCard.astro";

const { Content } = await page.render();
---

<Layout title="Resume">
  <section
    slot="article-content"
    class="prose-base prose-a:border-b prose-a:border-b-black"
  >
    <Content />
  </section>
  <section slot="sidebar-content" class="flex flex-col gap-8">
    <MeCard />
  </section>
</Layout>
