---
import Layout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("docs");

const allTopics = [...new Set(allPosts.map((post) => post.id.split("/")[0]))];
---

<Layout title="test">
  <div>
    {
      allTopics.map((topic) => {
        const topicpost = allPosts.filter((post) => post.id.startsWith(topic));
        return (
          <ul>
            <li>
              <details>
                <summary>{topic}</summary>
                <ul>
                  {topicpost.map((onepost) => (
                    <li>
                      <a
                        class="flex justify-between content-center"
                        href={`/${onepost.slug}`}
                      >
                        <text>{onepost.data.title}</text>
                        <time class="hidden md:block">{`${
                          onepost.data.pubDate.getMonth() + 1
                        }月${onepost.data.pubDate.getDate()}日`}</time>
                      </a>
                    </li>
                  ))}
                </ul>
              </details>
            </li>
          </ul>
        );
      })
    }
  </div>
</Layout>

<style>
  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
  }
</style>
