<nav
  class="md:hidden p-1.5 flex justify-evenly items-center border-t border-gray-300 md:border-none"
>
  <a id="" class="md:hidden flex flex-col items-center" href="/"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-home"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
      <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
    </svg>
    <text>首页</text></a
  >
  <a
    class="flex flex-col items-center hover:text-sky-600 hover:underline underline-offset-4 decoration-sky-600 decoration-wavy"
    href="/about/"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-mood-wink"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
      <path d="M15 10h.01"></path>
      <path d="M9.5 15a3.5 3.5 0 0 0 5 0"></path>
      <path d="M8.5 8.5l1.5 1.5l-1.5 1.5"></path>
    </svg>
    <text>关于</text></a
  >
  <a
    class="flex flex-col items-center hover:text-sky-600 hover:underline underline-offset-4 decoration-sky-600 decoration-wavy"
    href="/posts/"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-news"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11"
      ></path>
      <path d="M8 8l4 0"></path>
      <path d="M8 12l4 0"></path>
      <path d="M8 16l4 0"></path>
    </svg><text>帖子</text>
  </a>
  <a
    class="flex flex-col items-center hover:text-sky-600 hover:underline underline-offset-4 decoration-sky-600 decoration-wavy"
    href="/collections/"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-archive"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
      ></path>
      <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10"></path>
      <path d="M10 12l4 0"></path>
    </svg>
    <text>合集</text></a
  >
</nav>
<style></style>
