<nav
  class="p-6 md:p-6 md:flex justify-between border-b border-gray-300 md:border-none"
>
  <section>
    <a
      class="hidden md:block font-bold hover:text-sky-600 hover:underline underline-offset-4 decoration-sky-600 decoration-wavy"
      href="/">Wun-Hao's Blog</a
    >
  </section>
  <section class="flex flex-wrap gap-4 justify-between">
    <a class="md:hidden font-bold" href="/">Home</a>
    <a
      class="hover:text-sky-600 hover:underline underline-offset-4 decoration-sky-600 decoration-wavy"
      href="/about/">About</a
    >
    <a
      class="hover:text-sky-600 hover:underline underline-offset-4 decoration-sky-600 decoration-wavy"
      href="/posts/">Posts</a
    >
    <a
      class="hover:text-sky-600 hover:underline underline-offset-4 decoration-sky-600 decoration-wavy"
      href="/collections/">Collections</a
    >
    <a
      class="hover:text-sky-600 hidden hover:underline underline-offset-4 decoration-sky-600 decoration-wavy md:flex content-center gap-1"
      href="https://github.com/epiloguess/"
      ><text>Github</text><svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-external-link"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
        ></path>
        <path d="M11 13l9 -9"></path>
        <path d="M15 4h5v5"></path>
      </svg></a
    >
  </section>
</nav>
<style></style>
