---
const { title } = Astro.props;
---

<div class="rounded-lg  ">
  <header>
    <h2 class="text-2xl font-bold ">{title}</h2>
  </header>
  <section class=" p-6 ">
    <slot />

  </section>
</div>
