---
import { getCollection } from "astro:content";
import Card from "./Card.astro";
const allPosts = await getCollection("docs");
const categories = [
  ...new Set(allPosts.map((post) => post.data.categories).flat()),
];
---

<Card title="Categories">
  <ul class="marker:text-sky-400 list-disc pl-5 space-y-3 text-sm">
    {
      categories.map((category) => (
        <li>
          <a
            class=" underline text-indigo-500 font-semibold"
            href={`/categories/${category}`}
          >
            {category}
          </a>
        </li>
      ))
    }
  </ul>
</Card>

<style></style>
