---
import { getCollection } from "astro:content";
import Card from "./Card.astro";
const allPosts = await getCollection("docs");
const { posts } = Astro.props;

const categories = [
  ...new Set(posts.map((post) => post.data.categories).flat()),
];
---

<Card title="CATEGORIES">
  <div class="flex flex-col gap-2">
    {
      categories.map((category: string) => {
        const categoryNum = allPosts.filter((post) =>
          post.data.categories.includes(category)
        ).length;
        return (
          <a
            class=" text-sm  flex justify-between hover:text-blue-400"
            href={`/categories/${category}`}
          >
            <div class="font-semibold">{category}</div>
            <div class=" ">{categoryNum}</div>
          </a>
        );
      })
    }
  </div>
</Card>

<style></style>
