---
import { getCollection } from "astro:content";
import Card from "./Card.astro";
const allPosts = await getCollection("docs");
const categories = [
  ...new Set(allPosts.map((post) => post.data.categories).flat()),
];
---

<Card title="Categories">
  <div class="flex flex-col flex-wrap">
    {
      categories.map((category) => (
        <a class=" font-semibold" href={`/categories/${category}`}>
          {category}
        </a>
      ))
    }
  </div>
</Card>

<style></style>
