---
const allPosts = await Astro.glob("../pages/posts/*.md");

const recommendPost = allPosts;
---

<div class="flex flex-col gap-2">
  <section class="flex justify-between items-center">
    <h2 class="text-2xl font-bold">Collection</h2>
    <a class="border p-1 rounded bg-gray-200" href="/collections/">View All</a>
  </section>

  <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-2">
    {
      recommendPost.slice(0, 6).map((post) => (
        <div class="border border-solid rounded p-4 flex flex-col  bg-white">
          <time class="hidden md:block">
            {post.frontmatter.pubDate.slice(0, 7)}
          </time>
          <a class="flex justify-between " href={post.url}>
            <text>{post.frontmatter.title}</text>
          </a>
        </div>
      ))
    }
  </div>
</div>
<style></style>
