---
import { getCollection } from "astro:content";
import ViewALL from "./ViewAll.astro";
const allPosts = await getCollection("docs");
const PostsStorted = allPosts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<div class="flex flex-col gap-5">
  <section class="flex justify-between items-center">
    <h2 class="text-3xl font-bold">Latest Posts</h2>
    <ViewALL path="/posts" />
  </section>
  <div class="flex flex-col gap-2">
    {
      PostsStorted.slice(0, 6).map((post) => (
        <a
          class=" py-1 flex justify-between border-b border-gray-300 "
          href={`/${post.slug}`}
        >
          <text class=" ">{post.data.title}</text>
          <time class=" text-gray-500 hidden sm:block">{`${
            post.data.pubDate.getMonth() + 1
          } 月 ${post.data.pubDate.getDate()} 日， ${post.data.pubDate.getFullYear()}`}</time>
        </a>
      ))
    }
  </div>
</div>
