<nav class="flex justify-between">
  <section>
    <a class="hidden md:block font-bold" href="/">Wun-Hao's Blog</a>
  </section>
  <section class="flex flex-wrap gap-4">
    <a class="md:hidden" href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/posts/">Posts</a>
    <a href="/collections/">Collections</a>
  </section>
</nav>
