<nav class="flex justify-between">
  <section>
    <a class="hidden md:block font-bold" href="/">Wun-Hao's Blog</a>
  </section>
  <section class="flex flex-wrap gap-4">
    <a class="md:hidden" href="/">Home</a>
    <a class="md:border-b-2 md:hover:border-blue-600" href="/about/">About</a>
    <a class="md:border-b-2 md:hover:border-blue-600" href="/posts/">Posts</a>
    <a class="md:border-b-2 md:hover:border-blue-600" href="/collections/"
      >Collections</a
    >
  </section>
</nav>
