---

---

<div
  class="prose max-w-none
    prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl prose-h4:text-xl prose-h5:text-lg prose-h6:text-base
     prose-headings:font-semibold 
     prose-h3:border-b  prose-h3:border-gray-400
      prose-h3:mt-8 prose-h3:mb-4  prose-h3:pb-0.5


      prose-li:marker:text-teal-500
        prose-code:before:content-[''] prose-code:after:content-['']
      
      prose-a:underline-offset-4 prose-a:decoration-dashed prose-a:decoration-cyan-500 
     prose-blockquote:border-l-4 prose-blockquote:border-rose-500 prose-blockquote:font-normal"
>
  <slot />
</div>
