---
interface Props {
  title: string;
}
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
import Nav from "../components/BaseLayout/Navigation.astro";
import NavAtFooter from "../components/BaseLayout/NavAtFooter.astro";
import Footer from "../components/BaseLayout/Footer.astro";
import { slide } from "astro/transitions";
---

<!doctype html>
<html lang="en" transition:animate={slide({ duration: "0.5s" })}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="flex flex-col content-end h-[100dvh] m-auto max-w-screen-lg bg-[#eeeeee]"
  >
    <Nav />
    <section class="flex-1 overflow-auto md:overflow-visible p-4">
      <main>
        <slot />
      </main>
      <Footer />
    </section>
    <NavAtFooter />
    <style is:global></style>
  </body>
</html>
