---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Nav from "../components/BaseLayout/Navigation.astro";
import NavAtFooter from "../components/BaseLayout/NavAtFooter.astro";
import Footer from "../components/BaseLayout/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col h-screen m-auto max-w-screen-lg bg-[#eeeeee]">
    <Nav />
    <section class="flex-1 overflow-auto md:overflow-visible px-4">
      <main>
        <slot />
      </main>
      <Footer />
    </section>
    <NavAtFooter />
  </body>
</html>
<style is:global></style>
