---
const { post } = Astro.props;
import Layout from "./SideBarLayout.astro";

import AboutMe from "../components/index/AboutMe.astro";
import PostDetails from "../components/PostDetails.astro";
import PostDetailsSmall from "../components/PostDetailsSmall.astro";
---

<Layout title={post.data.title}>
  <section slot="article-content">
    <section class="md:hidden">
      <PostDetailsSmall post={post} />
    </section>

    <section
      class="prose-base prose-a:underline prose-a:underline-offset-4 prose-a:decoration-wavy"
    >
      <div></div>
      <slot />
    </section>
  </section>
  <section slot="sidebar-content" class="flex flex-col gap-4">
    <AboutMe />
    <PostDetails post={post} />
  </section>
</Layout>
<style></style>
