---
import { getCollection } from "astro:content";

const allPosts = await getCollection(
  "docs",
  (post) => post.data.draft == false
);

import Layout from "../layouts/SideBarLayout.astro";
import CategoriesCard from "../components/PostsLayout/CategoriesCard.astro";
import TagsCard from "../components/PostsLayout/TagsCard.astro";
import BlogPost from "../components/PostsLayout/BlogPostByYears.astro";

const { title, posts } = Astro.props;
---

<Layout title={title}>
  <BlogPost slot="article-content" posts={posts} />
  <section slot="sidebar-content" class="flex flex-col gap-4">
    <CategoriesCard posts={allPosts} />
    <TagsCard posts={allPosts} />
  </section>
</Layout>
