---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("docs");

  const paths = pages.map((page) => {
    const [topic] = page.slug.split("/");
    return {
      params: { topic },
      props: page,
    };
  });

  return paths;
}
const page = Astro.props;

const { topic } = Astro.params;
const { Content } = await page.render();
---

<Layout title="ww">
  {(<div>{topic}</div>)}
</Layout>
